/* colour codes with colour names
#cfbabc - white grey
#eee0e0 - light grey
#1C1D25 - dark grey
#171821 - black grey
#ff2465 - pink


/* =========== ALL PAGES =========== */

header {
    background-color: #171821;
    color: #cfbabc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 {
    padding: 10px;
    font-size: 70px;
    margin: 0;
}

/* === NAVBAR === */
nav {   
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
    nav a, nav button {
        background-color: inherit;
        border: none;
        padding: 20px;
        color: #cfbabc;
        text-decoration: none;
        font-size: 20px;
    }
    
        nav a:hover, nav button:hover { /* Change color on hover/mouse-over */
            color: #FF2465;
            background-color: inherit;
        }

        nav .selectedPage { /*shows what page the user currently viewing*/
            color: #FF2465;
            background-color: inherit;
        }
    
    nav img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-left: 10px;
    }



/* === BASE STYLES === */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background-color: #cfbabc;
    text-align: center;
    color: #171821;
    font-family: sans-serif;
    font-size: 16px;
}

main {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h2 {
    color: #171821;
    font-size: 28px;
    font-weight: 900;
}

h3 {
    color: #1c1d25;
    font-size: 22px;
}

h4 {
    color: #FF2465;
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: contain; 
}

/* === TABLE === */
table {
    background-color: #eee0e0;
    display: inline-table;
}

td, th {
    padding: 8px;
    text-align: left;
}

th {
    font-size: 20px;
    background-color: #1C1D25;
    color: #ff2465;
}

button {
    background-color: #1c1d25;
    color: #cfbabc;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

    button:hover {
        color: #ff2465;
    }


/* === CUSTOM STYLES === */

.errorText {
    color: #c21a00;
    font-size: 12px;
    font-weight: 700;
}

.infoBox {
    padding: 30px 30px;
    display: inline-block;
    border: 5px solid #ff2465;
    border-radius: 10px;


    color: #1c1d25;
    font-size: 20px;
    font-weight: 700;
    text-align: center;   
}



/* === INPUTS === */
.input {
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #1c1d25;
}









/* =========== STATS PAGE =========== */

/* === VIEWING OPTIONS === */
.statsViewingOptions {
    text-align: center;
    padding: 2px 10px;
    display: inline-block;
    border: 5px solid #ff2465;
    border-radius: 5px;
}

/* === STATS TABLE === */
.item {
    font-weight: bold;
}

.description {
    color: #332e33;
}





/* =========== RECOMMENDATIONS PAGE =========== */

/* === RECOMMENDED TRACKS === */
.recommendations {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

    .recommendations div {
        display: inline-block;
        width: 15%;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 20%; 

        padding: 5px 5px;
        border: 5px solid #ff2465;
        border-radius: 10px;
        margin: 5px 5px;

        color: #FF2465;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .recommendations div img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }